@{
    ViewData["Title"] = "About Us";
}
<div class="text-center">
    <h1 class="display-4" style="font-family:Buttershine Serif">About Us</h1>
    <p style="font-size:20px">We are a team of artists based in South Africa and we wanted to create a space for artists <br> 
        to share and sell their work.<br><br />
        Our goal with this platform is to connect artists with each other and their fans. This community will help support <br>
        artists around the world and motivate them to do what they love. <br /><strong>Create</strong></p>
</div>