<div class="text-center">
    <h1 class="display-4" style="font-family:Buttershine Serif">Contact Us</h1>
    <p><strong>Tel: </strong>+27 12 345 6789<br />
       <strong>E-Mail: </strong>admin@khumalocrafts.net<br />
       <strong>PO Box: </strong>Unit 2, Postnet Strand<br />
    </p>
</div>

