@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the home of KhumaloCrafts. A creative hub for artists and their fans</p>
</div>
