<div class="text-center" >
    <h1 class="display-2" style="font-family:Buttershine Serif; font-weight:500;">KhumaloCrafts<br>Emporium</h1>
    <p style="font-size:40px">This is the home of KhumaloCrafts. <br> A creative hub for artists and their fans</p>
</div>
