@{
   
}

<div class="text-center">
    <h1 class="display-4">My work</h1>
    <p>A collection of my previous work.</p>
    
</div>

<div class="text-center">
    <img src="~/images/flow_table.jpg" alt="Flow Table" width="500" height="600" />    
    <img src="~/images/redwood_table.jpg" alt="Redwood Table" width="500" height="600" />
    <img src="~/images/rustic_table.jpg" alt="Rustic Table" width="500" height="600" />
    <img src="~/images/console.jpeg" alt="Console" width="500" height="600" />
    <img src="~/images/dining_table.jpg" alt="Dining Table" width="500" height="600" />
    <img src="~/images/small_table.jpg" alt="Small Table" width="500" height="600" />
</div>
