<div class="text-center">
    <h1 class="display-4" style="font-family:Buttershine Serif">My work</h1>
    <p>A collection of my previous work.</p>
    
</div>

<div class="text-center">
    <img title="Flow table" src="~/images/flow_table.jpg" alt="Flow Table" width="500" height="600" />    
    <img title="Redwood table" src="~/images/redwood_table.jpg" alt="Redwood Table" width="500" height="600" />
    <img title="Rustic table" src="~/images/rustic_table.jpg" alt="Rustic Table" width="500" height="600" />
    <img title="Console table" src="~/images/console.jpeg" alt="Console table" width="500" height="600" />
    <img title="Dining table" src="~/images/dining_table.jpg" alt="Dining Table" width="500" height="600" />
    <img title="Side table" src="~/images/small_table.jpg" alt="Side Table" width="500" height="600" />
</div>
